extends base.pug

block scripts
          
block style 
    style  
        include style.css
        include about.css 
block content
    section#main 
          h1 About Us 
          div.huh 
            div| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia dolores animi incidunt placeat doloribus illo illum ullam, magni quod nobis doloremque assumenda fugit ipsam aspernatur veniam esse sunt quidem vel!
            div| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed quibusdam assumenda odio reiciendis, veritatis culpa ea explicabo necessitatibus, a quisquam doloremque laborum ex modi nulla delectus error ducimus dolor dicta.
