html
  head
    title ChineseBistro
    block scripts
    block style
  body
    nav#navbar 
          u1 
            div#logo 
              img(src="soup.png", alt="Chinese Bistro")
              | Chinese Bistro
            li #[a(href="/home") Home]
            li #[a(href="/about") About]
            li #[a(href="/menu") Menu]
            li #[a(href="/order") Order Now]
    block content 
    block footer 
            section#line
            section#ending 
                div 2021 © The Chinese Bistro All Rights Reserved. Design By ansh_c.