extends base.pug

block scripts
    script(src="views/script.js") 

block style 
    style  
        include style.css

block content 
    section#dog
       div The Chinese Bistro
       div.small  Eat HOTTT!!!!
    section#introsection
    section#btn 
       div.button #[a(href="/order") Order Now]
    section#main
       div.card
          a(href='/menu')
             img(src='menu.jfif')
          div.btm #[a(href="/menu") Menu]
       div.card 
          img(src="map.png", alt="")
          div.btm Locate us
       div.card 
          img(src="gallery.jpg", alt="")
          div.btm Gallery
    section#line       
    footer#footers
          div.foot
              h1|Social Media
              div#el Our menu pricing is very competitive & we have a strong presence across all outlets on both dine-in & online ordering platform which makes us a perfect business model for success in the franchisee business. 
          div.foot
              h1|Timings
              div#el Mon - Fri : 10:00 AM To 10:00 PM
              div#el Sat : 10:00 AM To 10:00 PM
              div#el Sun : 10:00 AM To 10:00 PM
          div.foot 
              h1|Get In Touch
              div#el 340/4, Street Number 4, Raja Park
              div#el +91 9929540555
              div#el info@chinesebistro.in 
    
